.root {
    -fx-base: #282828;
    -fx-background: #282828;
    -fx-light-text-color: white;
}

.button, .toggle-button {
    -fx-background-color: linear-gradient(to bottom, #8c8e8d 5%, #707070 6%, #707070 35%, #535353 65%, #535353);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #303030;
    -fx-border-radius: 3px;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to bottom, #535353, #535353 35%, #444444 65%, #444444 94%, #8c8e8d 95%);
}

.scroll-bar:horizontal > .thumb {
    -fx-background-color: linear-gradient(to bottom, #9a9a9a, #6b6b6b);
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: linear-gradient(to right, #9a9a9a, #6b6b6b);
}

.corner {
    -fx-background-color: #535353;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #e7e7e7;
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: #fff;
}

.outer-pane {
    -fx-background-color: #535353;
}

.input-pane,
.colorize-pane,
.zoom-pane,
.effects-pane {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.settings-pane {
    -fx-padding: 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-style: solid;
    -fx-border-color: #282828;
}

.colorize-pane {
    -fx-pref-width: 280px;
}

.colorize-pane .slider {
    -fx-pref-width: 180px;
}

.colorize-pane, .zoom-pane {
    -fx-border-width: 0 0 1px 0;
    -fx-border-style: solid;
    -fx-border-color: #282828;
    -fx-padding: 0 0 25px 0;
}

.zoom-pane {
    -fx-padding: 25px 0 25px 0;
    -fx-pref-width: 280px;
}

.effects-pane {
    -fx-padding: 25px 0 0 0;
}

.input-pane {
    -fx-padding: 10px;
}

.histogram-pane {
    -fx-border-width: 0 0 0 1px;
    -fx-border-style: solid;
    -fx-border-color: #282828;
}

.histogram--luminance .default-color0.chart-bar {
    -fx-bar-fill: white;
}

.histogram--red .default-color0.chart-bar {
    -fx-bar-fill: red;
}

.histogram--green .default-color0.chart-bar {
    -fx-bar-fill: green;
}

.histogram--blue .default-color0.chart-bar {
    -fx-bar-fill: blue;
}
